@{
    ViewData["Title"] = "BlogDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}
<section class="ftco-section ftco-degree-bg">
    <div class="container">
        <div class="row">

            <!----------------------------------------------------------->
            @await Component.InvokeAsync("_BlogDetailMainVC")
            <!----------------------------------------------------------->

            <div class="col-md-4 sidebar ftco-animate">

                <!----------------------------------------------------------->
                @await Component.InvokeAsync("_BlogDetailSearchBarVC")
                <!----------------------------------------------------------->
                @await Component.InvokeAsync("_BlogDetailCategoryVC")
                <!----------------------------------------------------------->
                @await Component.InvokeAsync("_BlogDetailRecentBlogsVC")
                <!----------------------------------------------------------->
                @await Component.InvokeAsync("_BlogDetailTagCloudVC")
                <!----------------------------------------------------------->
                @await Component.InvokeAsync("_BlogDetailParagraphVC")
                <!----------------------------------------------------------->

            </div>

        </div>
    </div>
</section>
