@model CarBook.DTO.BrandDtos.UpdateBrandDto

@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Marka Düzenleme</h4>
                <form asp-controller="AdminBrand" asp-action="UpdateBrand" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Marka</label>
                                <input asp-for="name" type="text" class="form-control" maxlength="25" id="placement" />
                                <input readonly="readonly" type="hidden" asp-for="id">
                            </div>
                            <button class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




