@model List<CarBook.DTO.BrandDtos.CreateCarBrandListDto>
<select name="bodytype" style="width:150px;margin-left:0.5em" id="brandDropDown" class="form-control">
    <option value="">Marka</option>
    @foreach (var x in Model)
    {
        <option value="@x.BrandId">@x.Name</option>
    }
</select>
