<div class="topnav">
    <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
        <div class="collapse navbar-collapse" id="topnav-menu-content">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="index.html">
                        <i class="mdi mdi-view-dashboard mr-2"></i>Dashboard
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Banner/UpdateBanner/">
                        <i class="mdi mdi-image-broken-variant mr-2"></i>Ban ner Alanı
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/AdminCars/Index">
                        <i class="mdi mdi-car mr-2"></i>Araç Listesi
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/AdminFeature/Index">
                        <i class="mdi mdi-star-circle-outline mr-2"></i>Araç Özellikleri
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/AdminBrand/Index">
                        <i class="mdi mdi-animation-outline mr-2"></i>Araç Markaları
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Author/Index">
                        <i class="mdi mdi-animation-outline mr-2"></i>Yazar İşlemleri
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/About/UpdateAbout">
                        <i class="mdi mdi-animation-outline mr-2"></i>Hakkı mızda
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Admin/Category/Index">
                        <i class="mdi mdi-animation-outline mr-2"></i>Blog Kategorileri
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AdminBrands/Index">
                        <i class="mdi mdi-animation-outline mr-2"></i>Blog Listesi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AdminBrands/Index">
                        <i class="mdi mdi-animation-outline mr-2"></i>Ödeme İşlemleri
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AdminBrands/Index">
                        <i class="mdi mdi-animation-outline mr-2"></i>Yorum Listesi
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AdminBrands/Index">
                        <i class="mdi mdi-animation-outline mr-2"></i>Hizmet İşlemleri
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/AdminBrands/Index">
                        <i class="mdi mdi-animation-outline mr-1"></i>İletişim İşlemleri
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</div>