@model List<CarBook.DTO.CarDtos.AdminCarListDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}



<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0 font-weight-bolder">
                            <li class="breadcrumb-item "><a href="javascript: void(0);">CarBook</a></li>
                            <li class="breadcrumb-item "><a href="#">Araç Listesi</a></li>
                        </ol>
                    </div>
                    <a href="/AdminCars/CreateCar" style="background-color:#FF6F61" class="btn text-white ml-auto">Yeni Araç Girişi</a>
                </div>
                <div class="text-center table-responsive">
                    <table class="table mb-0">
                        <thead class="text-white" style="background-color:#8F9DFF">
                            <tr>
                                <th>#</th>
                                <th>Marka</th>
                                <th>Model</th>
                                <th>Yıl</th>
                                <th style="width:150px">Sil</th>
                                <th style="width:150px">Güncelle</th>
                                <th style="width:150px">Detaylar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var car in Model)
                            {
                                count++;

                                <tr>
                                    <td>@count</td>
                                    <td>@car.BrandName</td>
                                    <td>@car.Model</td>
                                    <td>@car.Year</td>
                                    <td>
                                        <a style="padding:0.5em 1.7em 0.5em 1.7em" href="/AdminCars/RemoveCar/@car.CarId" class="btn btn-outline-danger">
                                            Sil
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/AdminCars/UpdateCar/@car.CarId" class="btn btn-outline-success">
                                            Güncelle
                                        </a>
                                    </td>
                                    <td>
                                        <a href="" class="btn btn-outline-secondary">
                                            <span class="mdi mdi-arrow-down-drop-circle-outline mdi-18px"></span>
                                            Detaylar
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>