@model CarBook.DTO.BlogDtos.BlogsAuthorDetailsDto

<div class="about-author d-flex p-4 bg-light">
    <div class="bio mr-5">
        <img width="200" height="200" src="@Model.AuthorImageUrl" class="">
    </div>
    <div class="desc">
        <h3>@Model.AuthorName</h3>
        <p>@Model.AuthorDescription</p>
    </div>
</div>
