@model List<CarBook.DTO.CarDtos.CarResultDto>


<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <h2 class="mb-2">Kiralık Araçlar</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-car owl-carousel">

                    @foreach (var car in Model)
                    {
                    <div class="item">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url(@car.CarCoverImageUrl);">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="#">@car.CarModel</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">@car.BrandName</span>
                                    <p class="price ml-auto">@car.Amount ₺ <span>/ Günlük</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block"><a href="/Reservation/Index/@car.CarId" class="btn btn-primary py-2 mr-1">Hemen Kirala</a> <a href="/Car/CarDetail/@car.CarId" class="btn btn-secondary py-2 ml-1">Araç Bilgileri</a></p>
                            </div>
                        </div>
                    </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
