@model IEnumerable<CarBook.DTO.CarDtos.CarResultDto>


<section class="ftco-section ftco-no-pt bg-light">
    <br />
    <br />
    <br />
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 heading-section text-center ftco-animate mb-5">
                <h2 class="mb-2">Kiralık Araçlar</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="carousel-car owl-carousel">

                    @foreach (var car in Model)
                    {
                    <div class="itemxxx">
                        <div class="car-wrap rounded ftco-animate">
                            <div class="img rounded d-flex align-items-end" style="background-image: url(@car.carCoverImageUrl);">
                            </div>
                            <div class="text">
                                <h2 class="mb-0"><a href="#">@car.carModel</a></h2>
                                <div class="d-flex mb-3">
                                    <span class="cat">@car.brandName</span>
                                    <p class="price ml-auto">@car.amount ₺ <span>/ Günlük</span></p>
                                </div>
                                <p class="d-flex mb-0 d-block"><a href="/Reservation/Index/@car.carId" class="btn btn-primary py-2 mr-1">Hemen Kirala</a> <a href="/Car/CarDetail/@car.carId" class="btn btn-secondary py-2 ml-1">Araç Bilgileri</a></p>
                            </div>
                        </div>
                    </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>
<style>
    /* Çerçeveye gölgelendirme ve ışık efekti ekleme */
    .itemxxx {
        transition: all 0.5s ease-in-out;
    }

    .itemxxx:hover {
            transform: translateY(20px);
            transition: all 0.3s ease-in-out;
    }

    .car-wrap {
        margin-top: 10px; /* Üstte 10px boşluk bırak */
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.6);
        transition: all 0.3s ease-in-out;
    }

    .car-wrap:hover {
            box-shadow: 0 0 15px rgba(0, 123, 255, 0.7);
            transition: all 0.3s ease-in-out;
        }
</style>
