@model CarBook.DTO.LocationDtos.RentACarLocationDto
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<style>
    /* Dropdown menü için stil */
    .custom-select {
        color: black; /* Metin rengi */
        background-color: white; /* Arka plan rengi */
        border: 1px solid #ddd; /* Sınır rengi */
    }

        /* Seçenekler için stil */
        .custom-select option {
            color: black; /* Seçeneklerin metin rengi */
            background-color: white; /* Seçeneklerin arka plan rengi */
        }

</style>

<!DOCTYPE html>
<html lang="en">

<!------------------------------------------------------>
@await Component.InvokeAsync("_UILayoutHeadVC")
<!------------------------------------------------------>

<body>

    <!------------------------------------------------------>
    @await Component.InvokeAsync("_UILayoutNavbarVC")

    <!------------------------------------------------------>
    @await Component.InvokeAsync("_DefaultCoverVC")
    <!------------------------------------------------------>
    @await Component.InvokeAsync("_DefaultLast5CarsVC")
    <!------------------------------------------------------>

    <section class="ftco-section ftco-no-pt bg-light">
        <style>
            /* Çerçeveye gölgelendirme ve ışık efekti ekleme */
            .services-wrap {
                max-width: 1200px; /* Maksimum genişlik */
                margin: 0 auto; /* Ortalamak için */
                box-shadow: 0 0px 50px rgba(0, 0, 0, 0.1); /* Gölgelendirme arttırıldı */
                transition: all 0.5s ease-in-out;
                border-radius: 15px; /* Köşeleri yuvarlatma */
                background: #fff; /* Arka plan rengini beyaz yap */
            }

           

            .grow-button {
                transition: all 0.3s ease-in-out;
            }

                /* Butona büyüme efekti ekleme */
                .grow-button:hover {
                    transform: scale(1.05);
                    transition: all 0.3s ease-in-out;
                }
        </style>

        <div class="container">
       
            <div class="row no-gutters justify-content-center">
                <div class="col-md-12">
                    <!-- Kart çerçevesinin genişliğini artırıyoruz -->
                    <div class="services-wrap rounded-right w-100 p-5">
                        <!-- İç dolgu alanını artırdık -->
                        <h3 class="heading-section mb-4 text-center">Araç Kiralamanın En Kolay Hali</h3>
                        <div class="row d-flex mb-4 justify-content-around">
                            <!-- Kartlar buraya yerleştiriliyor -->
                            <div class="col-md-2 d-flex align-self-stretch ftco-animate mx-3">
                                <div class="services w-100 text-center p-3">
                                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span></div>
                                    <div class="text">
                                        <h3 class="heading mb-2">Rotanızı Belirleyin</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex align-self-stretch ftco-animate mx-3">
                                <div class="services w-100 text-center p-3">
                                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-handshake"></span></div>
                                    <div class="text">
                                        <h3 class="heading mb-2">En Uygun Aracı Bulun</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 d-flex align-self-stretch ftco-animate mx-3">
                                <div class="services w-100 text-center p-3">
                                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-rent"></span></div>
                                    <div class="text">
                                        <h3 class="heading mb-2">Hızlı Rezervasyon Yapın</h3>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 d-flex align-self-stretch ftco-animate mx-3">
                                <div class="services w-100 text-center p-3">
                                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-dashboard"></span></div>
                                    <div class="text">
                                        <h3 class="heading mb-2">Tadını Çıkarın :)</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex align-self-stretch ftco-animate mx-3">
                                <div class="services w-100 text-center p-3">
                                    <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-wedding-car"></span></div>
                                    <div class="text">
                                        <h3 class="heading mb-2">7/24 Destek Alın</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Buton -->
                        <div class="text-center">
                            <a href="/Car/Index" class="btn btn-primary py-3 px-4 grow-button" style="background-color: #007bff; border-radius: 25px; font-weight: bold; font-size: 18px;">
                                Tüm Araçları Gör
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!------------------------------------------------------>
    @await Component.InvokeAsync("_AboutUsVC")
    <!------------------------------------------------------>
    @await Component.InvokeAsync("_OurServicesVC")
    <!------------------------------------------------------>
    @await Component.InvokeAsync("_AboutBecomeDriverVC")
    <!------------------------------------------------------>
    @await Component.InvokeAsync("_TestimonialsVC")
    <!------------------------------------------------------>
    @await Component.InvokeAsync("_LastRecent3BlogsVC")
    <!------------------------------------------------------>
    @await Component.InvokeAsync("_DefaultStatsVC")
    <!------------------------------------------------------>
    @await Component.InvokeAsync("_UILayoutFooterVC")


</body>
</html>

