@model CarBook.DTO.BlogDtos.BlogDetailDto
<style>
    .tag-cloud-container {
        display: flex;
        gap: 10px; /* Tag'ler arasındaki boşluk */
        flex-wrap: wrap; /* Alan daraldığında, tag'lerin bir alt satıra geçmesini sağlar */
    }

    .tag-widget {
        display: inline-block;
        margin: 0; /* Varsayılan margin'i kaldır */
    }

</style>

<div class="col-md-8 ftco-animate">
    <h2 class="mb-3">@Model.Title</h2>
    <p>@Model.Description</p>
    <p>
        <img src="" alt="" class="img-fluid">
    </p>
  
    @foreach (var x in Model.TagClouds)
    {
        <div class="tag-widget post-tag-container mb-5 mt-5">
            <div class="tagcloud">
                <a href="#" class="tag-cloud-link">@x.TagCloudTitle</a>
            </div>
        </div>
    }

    <!----------------------------------------------------------->
    @await Component.InvokeAsync("_BlogDetailAuthorAboutVC")
    <!----------------------------------------------------------->



    <div class="pt-5 mt-5">
        <h3 class="mb-5">1 Comments</h3>

        <!----------------------------------------------------------->
        @await Component.InvokeAsync("_CommentListByBlogVC")
        <!----------------------------------------------------------->
        @await Component.InvokeAsync("_CommentAddVC")
        <!----------------------------------------------------------->

    </div>

</div>