<div class="col-md-8 ftco-animate">
    <h2 class="mb-3">It is a long established fact a reader be distracted</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit, quisquam doloremque distinctio perferendis et doloribus unde architecto optio laboriosam porro adipisci sapiente officiis nemo accusamus ad praesentium? Esse minima nisi et. Dolore perferendis, enim praesentium omnis, iste doloremque quia officia optio deserunt molestiae voluptates soluta architecto tempora.</p>
    <p>
        <img src="" alt="" class="img-fluid">
    </p>
    <p>Molestiae cupiditate inventore animi, maxime sapiente optio, illo est nemo veritatis repellat sunt doloribus nesciunt! Minima laborum magni reiciendis qui voluptate quisquam voluptatem soluta illo eum ullam incidunt rem assumenda eveniet eaque sequi deleniti tenetur dolore amet fugit perspiciatis ipsa, odit. Nesciunt dolor minima esse vero ut ea, repudiandae suscipit!</p>

    <!----------------------------------------------------------->
    @await Component.InvokeAsync("_BlogDetailTagCloudByBlogVC")
    <!----------------------------------------------------------->
    @await Component.InvokeAsync("_BlogDetailAuthorAboutVC")
    <!----------------------------------------------------------->



    <div class="pt-5 mt-5">
        <h3 class="mb-5">1 Comments</h3>

        <!----------------------------------------------------------->
        @await Component.InvokeAsync("_CommentListByBlogVC")
        <!-----------------------------------------------------------> 
        @await Component.InvokeAsync("_CommentAddVC")
        <!----------------------------------------------------------->

    </div>

</div>