@model CarBook.DTO.BlogDtos.BlogDetailDto

<style>
    .tag-cloud-container {
        display: flex;
        gap: 10px; /* Tag'ler arasındaki boşluk */
        flex-wrap: wrap; /* Alan daraldığında, tag'lerin bir alt satıra geçmesini sağlar */
    }

    .tag-widget {
        display: inline-block;
        margin: 0; /* Varsayılan margin'i kaldır */
    }

</style>

<div class="col-md-8 ftco-animate">

    <h2 class="mb-3">@Model.Title</h2>
    <h1>@ViewBag.blogid</h1>

    <p>
        @Html.Raw(Model.Description)
    </p>

    <p>
        <img src="" alt="" class="img-fluid">
    </p>


    <!----------------------------------------------------------->
    @await Component.InvokeAsync("_BlogDetailTagCloudByBlogVC")
    <!----------------------------------------------------------->
    @await Component.InvokeAsync("_BlogDetailAuthorAboutVC", new { id = ViewBag.id })
    <!----------------------------------------------------------->

    <div class="pt-5 mt-5">

        <!----------------------------------------------------------->
        @await Component.InvokeAsync("_CommentListByBlogVC", new { id = ViewBag.id })
        <!----------------------------------------------------------->
        @await Html.PartialAsync("~/Views/Blog/AddComment.cshtml", new { id = ViewBag.id })
        <!----------------------------------------------------------->

    </div>

</div>