<style>
    .ftco-intro{
        
    }
</style>
<section class="ftco-section ftco-intro" style="background-image: url(/carbook-master/images/bg_1223.jpg);padding-bottom:7em">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 heading-section heading-section-white ftco-animate">
                <br />
                <h2 class="mb-3">Siz Sadece Tadını Çıkarın , Sürücülerimize Bırakın</h2>
                <a href="#" style="padding-left:2em;padding-right:2em" class="btn btn-primary btn-lg">Sürücü Kiralayın</a>
            </div>
        </div>
    </div>
</section>
