@model CarBook.DTO.CategoryDtos.AdminCategoryCreateDto

@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@if (TempData["Message2"] != null)
{
    @section message
    {
    @await Html.PartialAsync("_message", (string)TempData["Message2"])
    }
}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Kategori Oluştur</h4>
                <form asp-controller="Category" asp-action="CreateCategory" asp-area="Admin" method="post">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Kategori Adı</label>
                                <input asp-for="name" type="text" class="form-control" maxlength="35" />
                            </div>
                            <button class="btn btn-primary">Kaydet</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



