@model List<CarBook.DTO.CommentDtos.CommentListDto>

@if (Model == null || !Model.Any())
{
    <h1>Henüz yorum yok</h1>
}
else
{
    <h3 class="mb-5">Bu Bloga @ViewBag.Count Yorum Yapılmış</h3>

    <ul class="comment-list">
        @foreach (var comment in Model)
        {
            <li class="comment">
                <div class="vcard bio">
                    <img src="https://cdn0.iconfinder.com/data/icons/social-media-logo-4/32/Social_Media_instagram_comment-512.png" alt="Image placeholder">
                </div>
                <div class="comment-body">
                    <h3>@comment.Name</h3>
                    <div class="meta">@comment.CreatedDate.ToShortDateString()</div>
                    <p>@comment.Description</p>
                </div>
            </li>
        }
    </ul>
}
