<style>
    .filter-bar {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        background-color: transparent; /* Hafif mavi arka plan */
    }

        .filter-bar input[type="text"] {
            width: 250px; /* Diğerlerinden daha uzun */
            padding: 10px;
            margin-right: 10px;
            border-radius: 8px;
            font-size: 16px;
            color: #495057;
            border: 0.5px solid Darkgray; /* Varsayılan sınır */
            transition: border-color 0.2s; /* Kenarlık geçişi */
        }

            .filter-bar input[type="text"]:focus {
                border-color: #1089ff; /* Fokus olduğunda mavi kenarlık */
            }

        .filter-bar select,
        .filter-bar button {
            width: 150px; /* Daha geniş */
            padding: 10px;
            margin-right: 10px; /* Aralarında boşluk */
            border-radius: 8px;
            font-size: 16px;
            color: #fff; /* Beyaz yazı */
            background-color: #1089ff; /* Varsayılan arka plan */
            box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
            transition: transform 0.2s, background-color 0.2s; /* Animasyon için geçiş süreleri */
        }

            .filter-bar button:hover {
                transform: scale(1.02); /* Büyüme efekti */
                background-color: #01d28e; /* Yeşil renk */
                color:#fff;
            }

            .filter-bar select:focus,
            .filter-bar button:focus {
                outline: none;
                border: 2px solid;
                box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Fokus gölge */
            }

            .filter-bar select option {
                padding: 10px;
                color: #333;
            }

                .filter-bar select option:checked {
                    background-color: #1089ff; /* Mavi renk */
                    color: #fff; /* Beyaz yazı */
                }

</style>
<div class="filter-bar">
    <input class="form-control" type="text" id="searchInput" placeholder="Ara..." />

    <select id="sortDropdown" class="form-control">
        <option value="">Sıralama</option>
        <option value="asc">Fiyat Artan</option>
        <option value="desc">Fiyat Azalan</option>
    </select>

    <select name="bodytype" id="bodyTypeDropdown" class="form-control">
        <option value="">Araç Tipi</option>
        <option value="Sedan">Sedan</option>
        <option value="Hatchback">Hatchback</option>
        <option value="SUV">SUV</option>
        <option value="Station Wagon">Station Wagon</option>
    </select>

    @await Component.InvokeAsync("_CarBrandListVC")

    <button id="clearFilters" class="filter-item btn">Temizle</button>
</div>
