<style>
    .filter-bar {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        background-color: transparent; /* Hafif mavi arka plan */
    }
        .filter-bar select {
            width: 150px;
            padding: 10px;
            margin-right: 10px;
            border-radius: 8px;
            font-size: 16px;
            color: #495057;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
        }
            .filter-bar select:focus {
                outline: none;
                border: 2px solid;
                border-color: #1089ff; /* Fokus olduğunda kırmızı kenarlık */
                box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Fokus kırmızı gölge */
            }
            .filter-bar select option {
                padding: 10px;
                color: #333;
            }
                .filter-bar select option:checked {
                    background-color: #1089ff; /* Mavi renk */
                    color: #fff; /* Beyaz yazı */
                }

</style>
<div class="filter-bar">

    <select style="width:150px" id="sortDropdown" class="form-control">
        <option value="">Sıralama</option>
        <option value="asc">Fiyat Artan</option>
        <option value="desc">Fiyat Azalan</option>
    </select>

    <select name="bodytype" style="width:150px;margin-left:0.5em" id="bodyTypeDropdown" class="form-control">
        <option value="">Araç Tipi </option>
        <option value="Sedan">Sedan</option>
        <option value="Hatchback">Hatchback</option>
        <option value="SUV">SUV</option>
        <option value="Station Wagon">Station Wagon</option>
    </select>

    @await Component.InvokeAsync("_CarBrandListVC")
    <button id="clearFilters" class="filter-item btn btn-outline-primary">Temizle</button>

</div>