
@{
    ViewData["Title"] = "GetCarsByBrandId";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="filter-bar">
    <h5>Marka Filtrele</h5>
    <select id="brandDropdown">
        <option value="">Tüm Markalar</option>
        @foreach (var brand in ViewBag.Brands)
        {
            <option value="@brand.Id">@brand.Name</option>
        }
    </select>
</div>

<div id="carListContainer" class="row">
    <!-- Buraya araçlar Ajax ile eklenecek -->
</div>
<script>
    $(document).ready(function () {
        $("#brandDropdown").change(function () {
            var brandId = $(this).val();

            $.ajax({
                url: '/Car/GetCarsByBrandId',  // Controller'daki action'a giden URL
                type: 'GET',
                data: { id: brandId },
                success: function (response) {
                    if (response.success) {
                        var carListHtml = '';
                        $.each(response.data, function (index, car) {
                            carListHtml += `
                                <div class="col-md-4">
                                    <div class="car-wrap rounded ftco-animate">
                                        <div class="img rounded d-flex align-items-end" style="background-image: url(${car.coverImageUrl});"></div>
                                        <div class="text">
                                            <h2 class="mb-0"><a href="car-single.html">${car.brandName} ${car.carModel}</a></h2>
                                            <div class="d-flex mb-3">
                                                <span style="color:black">#${car.carId}</span>
                                                <p class="price ml-auto">${car.dailyAmount}₺ <span>Günlük</span></p>
                                            </div>
                                            <p class="d-flex mb-0 d-block">
                                                <a href="/Reservation/Index/${car.carId}" class="btn btn-primary py-2 mr-1">Hemen Kirala</a>
                                                <a href="/Car/CarDetail/${car.carId}" class="btn btn-secondary py-2 ml-1">Araç Bilgileri</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>`;
                        });

                        $("#carListContainer").html(carListHtml);
                    } else {
                        $("#carListContainer").html('<h3>' + response.message + '</h3>');
                    }
                },
                error: function () {
                    alert('Bir hata oluştu.');
                }
            });
        });
    });

</script>

