@model List<CarBook.DTO.CategoryDtos.BlogDetailCategoryDto>

<div class="sidebar-box ftco-animate">
    <div class="categories">
        <h3>Kategoriler (@ViewBag.count)</h3>
        @foreach (var x in Model)
        {
            <li><a href="#">@x.name<span>@x.count</span></a></li>
        }
    </div>
</div>