@{
    Layout = null;
}
<!DOCTYPE html>

<html lang="en">

<!-------------------------------------------HEAD---------------------------------------------------------->
@await Component.InvokeAsync("_UILayoutHeadVC")
<!-------------------------------------------HEAD---------------------------------------------------------->

<body>

    <!-------------------------------------------NAVBAR---------------------------------------------------------->
    @await Component.InvokeAsync("_UILayoutNavbarVC")
    <!-------------------------------------------NAVBAR---------------------------------------------------------->

    <!-------------------------------------------MAINCOVER---------------------------------------------------------->
    @await Component.InvokeAsync("_UILayoutMainCoverVC")
    <!-------------------------------------------MAINCOVER---------------------------------------------------------->

    @RenderBody();

    <!-------------------------------------------MAINCOVER---------------------------------------------------------->
    @await Component.InvokeAsync("_UILayoutFooterVC")
    <!-------------------------------------------MAINCOVER---------------------------------------------------------->

</body>

</html>
