@model List<CarBook.DTO.FeatureDtos.FeatureDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <div class="page-title-box d-flex align-items-center justify-content-between">
                    <div class="page-title-right">
                        <ol class="breadcrumb m-0 font-weight-bolder">
                            <li class="breadcrumb-item "><a href="javascript: void(0);">CarBook</a></li>
                            <li class="breadcrumb-item "><a href="#">Araç Özellikleri</a></li>
                        </ol>
                    </div>
                    <a href="/AdminFeature/CreateFeatue" style="background-color:#FF6F61" class="btn text-white ml-auto">Yeni Özellik Girişi</a>
                </div>
                <div class="text-center table-responsive">
                    <table class="table mb-0">
                        <thead class="text-white" style="background-color:#8F9DFF">
                            <tr>
                                <th>#</th>
                                <th style="width:70%">Özellik Adı</th>
                                <th>Düzenleme</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var feature in Model)
                            {
                                count++;

                                <tr>
                                    <td>@count</td>
                                    <td>@feature.Name</td>
                                    <td>
                                        <a href="/AdminFeature/RemoveFeature/@feature.FeatureId" class="btn btn-danger">
                                            <span class="mdi mdi-delete-empty mdi-18px"></span>
                                        </a>
                                        <a href="/AdminFeature/UpdateFeature/@feature.FeatureId" class="btn btn-success">
                                            <span class="mdi mdi-pen mdi-18px"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

